@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

/* reset browser css */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Placeholder for custom variables */

:root {
  --primary-font: 'Oswald', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --gray: #A59678;
  --white: #EEEEEE;
  --dark-gray: #2E323F;
  --dark-gray-lighter: #3B4050;
  --medium-gray: #6F737F;
  --light-gray: #F0F0F0;
}

/* keeps images fully responsive */

img {
  max-width: 100%;
}

body {
  font-family: var(--primary-font);
}

/* layout */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}

.col {
  margin: 2rem 0;
}

/* top nav bar section */

header {
  background-color: var(--dark-gray);
  text-align: center;
  padding: 1.25rem 0;
}

.nav {
    width: 100%;
    visibility: hidden;
    height: 0;
    position: absolute;
    font-weight: bold;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list {
  list-style: none;
  text-transform: uppercase;
}

.nav__list--secondary {
  margin-top: 1.75rem;
}

.nav__item {
  margin-top: .75rem;
}

.nav__link {
  text-decoration: none;
  color: var(--white);
  font-size: 1.125rem;
  transition: opacity 250ms ease;
}

.nav__link--btn {
  background-color: var(--gray);
  padding: .25rem 1rem;
  border-radius: 999px;
}

.nav__link:hover,
.nav__link:focus {
  opacity: .6;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--dark-gray-lighter);
    color: var(--white);
    transition: opacity 250ms ease;
    position: absolute;
    right: 0;
    transform: translate(0, -12.5%);
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: var(--white);
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.logo {
    height: 30px;
}

/* hero section */

.hero {
  background-color: var(--dark-gray-lighter);
  color: var(--white);
  padding: 6.25rem 0;
}

.hero__title {
  font-size: 3.5rem;
}

.hero__title span {
  font-size: 3.5rem;
  color: var(--gray);
}

.hero__text {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  margin-bottom: 2rem;
}

.hero__btn {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--gray);
  font-size: 1.5rem;
  padding: .5rem 2rem;
  border-radius: 999px;
  color: var(--white);
  transition: opacity 250ms ease;
}

.hero__btn:hover,
.hero__btn:focus {
  opacity: .75
}

/* services section */

.services {
  background-color: var(--light-gray);
  padding: 6.25rem 0;
  text-align: center;
}

.services__title {
  margin-bottom: 1rem;
  font-size: 1.875rem;
  color: var(--gray);
}

.services__text {
  font-size: 1.125rem;
  font-family: var(--secondary-font);
  color: var(--medium-gray);
}

/* primary section */

.primary {
  padding: 6.25rem 0;
}

.primary__title {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
  color: var(--gray);
}

.primary__text {
  font-size: 1.3125rem;
  font-family: var(--secondary-font);
  color: var(--medium-gray);
}

.primary__img {
  margin: 2rem 0;
}
