*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

.hero {
  background-color: #23424A;
  color: #eee;
  padding: 2.5rem 0;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.hero-content {
  width: 60%;
}

.hero-content p {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.learn-link {
  color: #072A2D;
  background-color: #38CFD9;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 1.9rem;
}
