*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #23424A;
  color: #eee;
}

.container {
  padding: 3.125rem;
  margin: 0 auto;
}

.content {
  width: 50%;
}

.content p {
  padding: 1rem 0;
}

.learn-link {
  color: #072A2D;
  background-color: #38CFD9;
  text-decoration: none;
}
