*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Playfair Display', serif;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

header {
  background-color: #F3EED9;
}

.black {
  background-color: #222C2A;
}

.brown {
  background-color: #824936;
}
.secondary__info {
  color: #eee;
}
